<form action="answer" data-turbo="false">
  <div class="input-group mb-3">
    <div class="input-group-text">
      <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
    </div>
    <input type="text" name="answer">
    <input type="submit" value="Ask!">
  </div>
</form>
